@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

body{
    font-size: 62.5%;
}

/* HEADER */ 

.header-bg{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url('./images/header-bg.jpeg') center no-repeat; 
    background-size: cover;
    position: relative;
}

.logo{
    position: absolute;
    top: 2rem;
    left: 2rem;
    border-radius: 0.2rem;
}

.logo img{
    border-radius: 0.2rem;
}

.navigation{
    width: 100%;
    height: 13rem;
}

.navigation nav{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
}

.navigation-list{
    height: 100%;
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
}

.navigation-list-item{
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0.3rem 0.3rem 0.5rem #000;
    transition: color 0.3s;
}

.navigation-list-item:hover{
    cursor: pointer;
    color: #f87c04;
}

/* ABOUT US */ 

.about-us{
    width: 100%;
    height: 80vh;
    width: 100%;
    padding: 3rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.who-we-are{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40%;
}

.why-choose-us{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.about-us h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-shadow: 0.2rem 0.3rem 0.4rem #000;
}

.about-us h3{
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-shadow: 0.2rem 0.3rem 0.4rem #000;
}

.about-us p {
    font-size: 1.5rem;
}

.color{
    color: #f87c04;
    font-weight: 500;
}

/* LOCATION */

.location{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 1),rgba(0,0,0,0.1), rgba(0, 0, 0, 1)), url('./images/shop.JPG') center no-repeat;
    background-blend-mode: darken;
    background-size: cover; 
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 25rem;
    padding-top: 5rem;
}

.location h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-shadow: 0.2rem 0.3rem 0.4rem #000;
    text-align: center;
}

.location h3{
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: 0.2rem 0.3rem 0.4rem #000;
}

.address{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map{
    opacity: 0.4;
    transition: opacity 0.3s;
}

.map:hover{
    opacity: 1;
}

.address-and-hours{
    display: flex;
    justify-content: space-around;
    margin-top: 6rem;
    text-shadow: 0.2rem 0.3rem 0.4rem #000;
}

.opening-hours{
    width: 50%;
}

.opening-hours h3{
    margin-bottom: 4rem;
}

.day{
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.time{
    margin-bottom: 4rem;
}

.closed{
    color: #FF0000;
    font-weight: 500;
}

/* SERVICES */

.services{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1), #000) #000; 
    padding-bottom: 10rem;
    padding-top: 5rem;
}

.section-heading{
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.3rem #000;
    margin-bottom: 5rem;
}

.services-wrapper{
    width: 90%;
    display: flex;
    flex-direction: column;
    background: #000;
    margin: auto;
}

.services-wrapper-small-screen{
    width: 90%;
    margin: auto;
    display: none;
}

.box{
    width: 33%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.box-wrapper{
    display: flex;
}

.box-small-screen{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.icon{
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background: #f87c04;
    border-radius: 50%;
    color: #000;
    margin-bottom: 2rem;

}

.box img, .box-small-screen img{
    width: 100%;
    height: 100%;;
}

.box h3, .box-small-screen h3{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #f87c04;
    width: 80%;
    text-align: center;
    margin-bottom: 1rem;
}

.box p, .box-small-screen p{
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
}

.top-services-wrapper{
    display: flex;
}

.bottom-services-wrapper{
    display: flex;
}

/* BIKES */ 

.bikes{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url('./images/bg-2.jpeg') center no-repeat; 
    background-size: cover;
}

.stockists{
    width: 100%;
    color: #fff;
    text-align: center;
}

.stockists h2{
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

.stockists ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stockists ul li {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0.5rem 0;
    width: 15rem;
}

.bike-stock-wrapper{
    width: 100%;
    display: flex;
}

.stock-logos{
    height: 40rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.bike-stock{
    color: #fff;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bike-stock ul li{
    font-size: 1.8rem;
    margin: 1.5rem 0;
}

/* CONTACT */

.contact{
    min-height: 100vh;
    background: linear-gradient(#000, #000) #000;
}

.social-media{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social-media-icon{
    width: 10rem;
    height: 100%;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5rem;
    color: #fff;
    border-radius: 50%;
    transition: filter 0.3s;
}

.fb{
    background-color: #4267B2;
}

.ig{
    background-color: #fbad50;
}

.google{
    background-color: #DB4437;
}

.social-media-icon:hover{
    cursor: pointer;
    filter: brightness(85%);
}

.contact-information{
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
}

.contact-information-element{
    width: 30%;
    height: 100%;
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-information-element h3{
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.contact-information-element i{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.contact-information-element a{
    color: #fff;
    font-size: 2rem;
    transition: color 0.3s;
}

.contact-information-element a:hover{
    color: #f87c04;
}

/* FOOTER */

footer{
    height: 3rem;
    width: 100%;
    text-align: center;
    color: #fff;
    background: #000;
    font-size: 1rem;
    text-transform: uppercase;
}

/* MEDIA QUERIES */


@media(max-width: 1150px){
    .services-wrapper{
        width: 100%;
    }

    .contact-information-element{
        margin: 0 5rem;
    }
}

@media(max-width: 1100px){
    .services-wrapper{
        display: none;
    }

    .services-wrapper-small-screen{
        display: flex;
        flex-direction: column;
        width: 97%;
    }
}

@media(max-width: 1000px){
    .about-us{
        padding: 1.5rem;
        flex-direction: column;
        padding-bottom: 5rem;
    }

    .about-us h1, .location h1{
        font-size: 2.7rem;
    }

    .about-us p, .location p{
        font-size: 1.3rem;
    }

    .who-we-are, .why-choose-us{
        margin-bottom: 3rem;
        width: 80%;
    }

    .about-us h3, .location h3{
        font-size: 1.7rem;
    }

}

@media(max-width: 950px){

    .address-and-hours{
        flex-direction: column-reverse;
        align-items: center;
    }

    .address{
        margin-top: 4rem;
    }

    .social-media-icon{
        margin: 0 2.5rem;
    }

    .navigation-list-item{
        font-size: 1.4rem;
    }

    .navigation nav{
        margin-right: 2.5rem;
    }

    .box-small-screen h3{
        font-size: 1.3rem;
    }

    .box-small-screen p{
        font-size: 1rem;
    }
}

@media(max-width: 850px){

    .contact-information{
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-bottom: 5rem;
    }

    .contact-information-element{
        margin: 3rem 0;
        width: 100%;
    }

    .bike-stock-wrapper{
        flex-direction: column;
        align-items: center;
        padding-bottom: 5rem;
    }

    .stock-logos{
        height: 20rem;
        margin: 4rem;
    }

    .bike-stock{
        margin-bottom: 4rem;
        width: 90%;
    }
}

@media(max-width: 800px){
    /* HAMBURGER MENU */
    .hamburger-menu{
        height: 3rem;
        width: 4rem;
        position: fixed;
        top: 4.5rem;
        right: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .line{
        background: #fff;
        height: 13%;
        width: 100%;
        transition: all 0.4s;
    }

    .show-navigation .line-1{
        position: absolute;
        top: 50%;
        transform: rotate(-45deg);
    }

    .show-navigation .line-2{
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
    }

    .show-navigation .line-3{
        display: none;
    }

    .navigation nav{
        margin-right: 0;
        position: fixed;
        top: 10rem;
        right: -15rem;
        width: 15rem;
        height: 25rem;
        background: rgba(248, 124, 4, 0.8);
        border-radius: 0.5rem 0 0 0.5rem;
        transition: right 0.4s;
        z-index: 100;
    }

    .navigation-list{
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
    }

    .navigation .show-navigation{
        right: 0;
    }

    .icon{
        margin-bottom: 1rem;
    }
}

@media(max-width: 750px){
    .services-wrapper-small-screen{
        width: 90%;
    }

    .box-small-screen{
        min-height: 20rem;
        width: 100%;
    }

    .box-wrapper{
        flex-direction: column-reverse;
    }

    .box-wrapper-inverted{
        flex-direction: column;
    }

    
    .icon{
        margin-bottom: 2rem;
    }

    .box-small-screen h3{
        font-size: 1.7rem;
    }

    .box-small-screen p{
        font-size: 1.3rem;
    }

    .social-media{
        height: auto;
    }

    .social-media-icon{
        height: 10rem;
        margin: 0 1rem;
    }
}

@media(max-width: 600px){
    .header-bg{
        padding-top: 5rem;
    }

    .navigation{
        height: 10rem;
    }
}

@media(max-width: 500px){
    iframe{
        width: 20rem;
    }
}

@media(max-width: 450px){

    .location{
        padding-top: 5rem;
    }

    .social-media-icon{
        margin: 0.5rem 0;
    }

    .contact-information-element a{
        font-size: 1.8rem;
    }
}

@media(max-height: 700px) and (max-width: 950px){
    .about-us{
        height: auto;
    }
}
